.about_container{
    display: flex;
    justify-content: center;
    align-items: center;
   
    gap: 200px;
}
.text{
   display:grid;
   grid-template-columns: auto;
  width:400px;
  font-size:20px;
}