.card {
  width: 18rem;                
  height: 24rem;              
  background-color: #212121;
  border-radius: 1rem;
  border: #212121 0.2rem solid;
  transition: all 0.4s ease-in-out;
  box-shadow: 0.6rem 0.6rem 1rem #00000060;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}


.card:hover {
  transform: translateY(-1.5rem) scale(1.03);
  border: greenyellow 0.25em solid;
  border-radius: 2.5rem 0 2.5rem 0;
}


.card-cover {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  display: block;
}


.card-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0,0,0,0.65);
  color: #fff;
  padding: 0.8rem;
  font-size: 1rem;
  text-align: center;
  border-top: 1px solid greenyellow;
}

.card-info h2 {
  margin: 0.4rem 0;
  font-size: 1.3rem;
}
.card-cover-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 1rem;
}