* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.background-wrapper {
  height: 100vh; 
  width: 100%;
  background: url('./assets/1335149.jpg') center center no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; 
  align-items: center;
}


.container {
  padding: 2rem;
  text-align: center;
}



.content-section {
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 2rem;
}
