* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
    max-width: 1340px;
    width: 100%;
    margin: 0 auto;
}
.quizz_box{
    display: flex;
    justify-content:center;
    align-items: center;
    padding-top: 350px;
}
.quizz{
    display: flex;
    flex-direction: column;
}
.options{
  display: flex;
  gap: 20px;
}