* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
.todo_container{
    display: flex;
    justify-content: center;
    margin-top: 400px;
    
}
.input{
    display: flex;
    align-items: center;
}
.container2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}